article { margin: 0px 1em; }

button {
    border: 1px solid #D0D3D4 ;
    border-radius: 3px;
    color : white;
    background-color:#2874A6; 
}

nav > ul {
    padding: 0px;
}

/* design for vertical layout */
nav > ul > li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

button.nav {
    width: 100%;
    font-size: 150%;
    font-weight: bold;
}

.dropContent button {
    width: 100%;
    font-size: 150%;
    font-weight: bold;
    text-align: left;
}

/* mostly following W3 schools for these styles */

.dropButton {
    background-color:#2874A6   ;
    border: 2px solid #D0D3D4 ;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    color : white;
}

.dropButton:hover, .dropButton:focus {
    background-color: #2980B9;
}

.dropContent, .dropClickContent {
    position: absolute;
    z-index: 1;
    display: none;
    background-color: rgb(190,220,247);
    font-size: 120%;
    border: 1px solid black;
}
.dropContent > button {
    background-color:#2874A6;
}

.show {
    display: block;
}

#addTask {
    border: 2px solid #C0392B;
    background-color:#E6B0AA;
}
#addTask > button {
    background-color: #C0392B; 
}


/* we give it rows and columns but don't let it get too wide. */

#addTask textarea {
    max-width: 100%;
}

.template { display: none; }

.done { opacity: 0.5; border-style: dotted; }

ul {
    list-style-type: none;
}

/* horizontal bar when they all fit */

@media all and (min-width: 20em) {
    nav > ul > li {
	width: 25%;
    }
}